{#
# Available variables:
# - hero_base_class - base classname of the wrapper.
# - hero_modifiers - array of modifiers to add to the base classname of the wrapper.
# - hero_blockname - blockname prepended to the base classname of the wrapper(s) and each component.
# - hero_extra_classes - array of extra classes to add to the base classes.
#
# - hero_image_src - url of the hero image.
# - hero_image_alt - alt of the hero image.
# - hero_title - hero title.
# - hero_subtitle - hero subtitle. Matches with the strapline field on landing pages.
#
# Available blocks:
# - hero_image - the hero image.
#
#}

{{ attach_library('portsmouth/hero') }}
{% set hero_base_class = 'hero' %}
{% set hero_modifiers = hero_modifiers|default([]) %}

<section {{ bem(hero_base_class, hero_modifiers, hero_blockname, hero_extra_classes) }}>
  {# Image #}
  {% block hero_image %}
    {% if hero_image_src %}
      {% include "@atoms/images/image/_image.twig" with {
        image_blockname: hero_base_class,
        image_src: hero_image_src,
        image_alt: hero_image_alt|default(hero_title),
      } %}
    {% endif %}
  {% endblock %}
  {# Content #}
  {% if hero_title or hero_subtitle %}

    {% set hero_content_modifiers = hero_content_modifiers|default([]) %}
    {% if hero_subtitle is not empty %}
      {% set hero_content_modifiers = ['with-subtitle'] %}
    {% endif %}

    <div {{ bem('content', hero_content_modifiers, hero_base_class) }}>
      {% if hero_title %}
        {% include "@atoms/text/headings/_heading.twig" with {
          heading_level: 2,
          heading: hero_title,
        } %}
      {% endif %}
      {% if hero_subtitle %}
        {% include "@atoms/text/01-paragraph.twig" with {
          paragraph_content: hero_subtitle,
        } %}
      {% endif %}
    </div>
  {% endif %}
</section>
